$color-accent-01: hsl(22, 89%, 52%) ; 
$color-accent-light-01: hsl(22, 100%, 69%);

$color-primary-01: hsl(220, 50%, 17%);
$color-primary-light-01: #7B8BAD;

$color-secondary-01: #E8EFF2;
$color-secondary-light-01: #fff;


